<ion-header>
  <ion-toolbar>
    <ion-title>Editar Envío</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-form">
    <div class="container-title">
      <h1>Editar Envío</h1>
    </div>

    <form class="form" [formGroup]="envioForm" (ngSubmit)="updateShipping()">
      <ion-input class="form-input" label="Dirección de Origen" type="text" formControlName="direccionOrigen"
        fill="outline" labelPlacement="stacked"></ion-input>

      <ion-input class="form-input" label="Dirección de Destino" type="text" formControlName="direccionDestino"
        fill="outline" labelPlacement="stacked"></ion-input>

      <ion-textarea class="form-input" label="Descripción del Paquete" formControlName="descripcionPaquete"
        fill="outline" labelPlacement="stacked"></ion-textarea>

      <div class="image-container" *ngIf="envioForm.get('photoURL')?.value" (click)="openImagePicker()">
        <img
          [src]="envioForm.get('photoURL')?.value"
          alt="Imagen del paquete"
        />
      </div>

      <ion-button class="submit-button" [disabled]="!envioForm.valid" size="large" type="submit">
        Guardar Cambios
      </ion-button>
    </form>
  </div>
</ion-content>